* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out;
}

button {
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
}