* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.card .in-img {
    width: 250px;
    height: 250px;
}

.in-img img {
    width: 100%;
    height: 100%;
}

.head {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

.detail {
    font-size: 18px;
    color: gray;
    margin-bottom: 5px;
}

.detail-black {
    font-size: 18px;
    margin-bottom: 10px;
}

.img-contract img {
    width: 25px;
    margin: 0 5px;
    transition: .3s;
}

.img-contract img:hover {
    opacity: 0.5;
}

.contract {
    width: 100%;
    font-size: 22px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    text-decoration: none;
    transition: .3s;
}

.contract:hover {
    background-color: rgb(51, 51, 51);
}