table {
    width: 100%;
}

td {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}

td:nth-child(1) {
    background-color: pink;
}

td:nth-child(2) {
    background-color: skyblue;
}